<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Webpage for the Touist language">
  <meta name="author" content="touist">
  <link rel="icon" href="./ress/img/logo.png">

  <title>TouIST, the IDE & Language for Logic</title>

  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./ress/css/main.css">
  <link rel="stylesheet" href="./ress/css/style.css">
  <link rel="stylesheet" href="./ress/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./ress/css/slick.css" />
  <link rel="stylesheet" type="text/css" href="./ress/css/slick-theme.css" />
</head>

<body>

  {{ partial "header.html" . }}

  <section class="jumbotron text-xs-center section1" id="presentation">
      <div class="container">
        {{ partial "buttons.html" . }}
      </div>
      </br>
      <div class="container">
        {{ .Content }}
      </div>
  </section>

  {{ partial "footer.html" . }}

</body>

</html>